/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
/*@import "https://unpkg.com/open-props/normalize.min.css";*/
@import "https://unpkg.com/open-props/buttons.min.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > * {
  margin: 5px;
}
h1 {
  width: 90ch;
  font-family: var(--font-sans);
  text-align: center;
  font-weight: var(--font-weight-8);
  font-size: var(--font-size-8);
}
p {
  font-family: var(--font-sans);
  width: 50ch;
}
